{% extends 'aplicacion/base.html' %}

{% block content %}

      <div class="card mb-3 card-item" style="max-height:100%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://historia-arte.com/_/eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpbSI6WyJcL2FydHdvcmtcL2ltYWdlRmlsZVwvbGVzLWRlbW9pc2VsbGVzLWQtYXZpZ25vbi5qcGciLCJyZXNpemUsMTUwMHxmb3JtYXQsd2VicCJdfQ.FMxSGG8oEgVFUT0nk8kJm2IK82wjFhYNrnPiqG_ofSc.webp" class="d-block w-100 c-img2" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title">Les Demoiselles d'Avignon (Las señoritas de Avignon)</h4>
              <p class="card-text">Autor: Pablo Picasso.</p>
              <p class="card-text">Fecha: 1907.</p>
              <p class="card-text">Ubicación: MoMA, New York.</p>
              <p class="card-text">Técnica: Protocubismo.</p>
              <p class="card-text">Origen: Su nombre hace referencia en realidad a "Las Señoritas de la calle Avinyó"
                que es una calle de Barcelona reconocida por sus burdeles. La pintura retrata a 5 prostitutas en un estilo único
                definido hoy por hoy como cubista, estilo en el cual Picasso intenta romper con todo lo relacionado al realismo.
                Se suele considerar en la deformidad progresiva de izquierda a derecha como una comparación a las etapas 
                de las enfermedades venéreas, enfermedades que en ese entonces estaban bastante esparcidas por la comunidad artística francesa.
            </p>
              <p class="text-body-secondary">Actualizado hace 5 días.</p>
            </div>
          </div>
        </div>
      </div>

      {% endblock %}

</body>
</html>
