{% extends 'aplicacion/base.html' %}

{% block content %}

      <div class="card mb-3 card-item" style="max-height:100%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://content.cdnprado.net/imagenes/Usuarios/ImagenesCKEditor/5ea1b701-d881-46f9-a820-b25894330e24/4c98229b-e466-4345-ae86-487cc5a82d7f.jpg" class="d-block w-100 c-img2" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title">La Gioconda (Monna Lisa)</h4>
              <p class="card-text">Autor: Leonardo Da Vinci.</p>
              <p class="card-text">Fecha: Circa 1515.</p>
              <p class="card-text">Ubicación: Museo del Louvre, París.</p>
              <p class="card-text">Técnica: Esfumado.</p>
              <p class="card-text">Origen: Renacimiento italiano, la teoría más aceptada es que es el retrato 
                de Lisa Gherardini, que traducido es de donde deriva su otro nombre: Monna (señora en italiano antigüo)
                Lisa. A día de hoy se reconoce como la pintura más famosa del mundo tanto por la perfección
                lograda técnicamente, tanto como por los mitos y trasfondos que hay detrás de ella.
            </p>
              <p class="text-body-secondary">Actualizado hace 5 días.</p>
            </div>
          </div>
        </div>
      </div>
      
      {% endblock %}

</body>
</html>
